*{
    font-family: var(--bodyFont);
}
body{
    --headingFont: 'Arapey', serif;
    --bodyFont: 'Lato', sans-serif;
}
.container{
    max-width: 1800px !important;
}
/* .sticky_header .logo {
    width: 150px;
} */
.logo {
    width: 200px;
}
.solid-header-logo{
    display: none;
}
.sticky_header .solid-header-logo{
    display: block;
}
.sticky_header .transparent-header-logo{
    display: none;
}
/* .logo {
    opacity: 0;
    visibility: hidden;
} */
.sticky_header .logo {
    opacity: 1;
    visibility: visible;
    width: 180px;
}
/* .banner-heading h2:before{
    position: absolute;
    content: '';
    width: 2px;
    height: 70%;
    background: #ffffff;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
} */
.banner-heading h2{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    max-width: 660px;
    font-family: var(--headingFont);
    margin-top: 50px;
    letter-spacing: 0.2rem;
}
.banner-heading img {
    max-width: 550px;
    height: auto;
    width: 100%;
}
.footer-logo {
    width: 270px;
    display: block;
    margin: 0 auto;
}
.logo img, .footer-logo img {
    width: 100%;
    height: auto;
}
header.sticky_header .nav-link{
    color: #000000 !important;
}
.sticky_header .navbar{
    padding: 10px 60px !important;
    background-color: #fff !important;
    box-shadow: 0 0 27px rgb(0 0 0 / 20%);
}
header.sticky_header .nav-link:hover{
    color: #3259AE !important;
}
header .nav-link{
    text-transform: uppercase;
    color: #F2F3F5 !important;
    font-weight: 700;
    padding-left: 30px !important;
}
.btn, .contact-btn {
    font-weight: 700 !important;
}
.contact-btn{
    background-color: #3259AE !important;
    border-color: #3259AE !important;
    text-transform: uppercase;
    font-size: 16px !important;
    line-height: normal !important;
    letter-spacing: 0.72px;
    min-width: 190px;
    height: 50px;
}
#top-menu{
    transition: all 0.2s;
    padding: 20px 60px;
}
/* .banner:before {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(to top,rgba(254,252,243,0) 69%,#fefcf3 90%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
} */
.banner::before {
    position: absolute;
    content: '';
    background: #000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
}
.banner {
    background-position: center;
    background-image: url(../images/capitolhero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 320px 0 950px;
    position: relative;
    /* background-position: center -200px; */
}
.banner-heading{
    /* max-width: 908px;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 108px; */
    max-width: 858px;
    font-weight: 800;
    z-index: 2;
    position: relative;
    font-size: 76px;
    line-height: 83px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    /* color: #F2F3F5; */
}
.bordered-text{
    color: transparent;
    display: block;
    -webkit-text-stroke-width: 1px;
    font-family: "ClashDisplay-Semibold";
    -webkit-text-stroke-color: #ffffff;
}
.banner-content::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 70%;
    background: #ffffff;
    left: 0;
    top: 9px;
}
.banner-content{
    position: relative;
    color: #F2F3F5;
    /* font-size: 24px;
    max-width: 880px; */
    font-size: 22px;
    max-width: 700px;
    font-style: normal;
    font-weight: 400;
    padding-left: 14px;
}
.primary-heading{
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    font-family: var(--headingFont);
    text-transform: uppercase;
    margin-bottom: 0;
}
.about-content h2{
    text-transform: uppercase;
    color: #F2F3F5;
    padding: 32px 0 32px 70px;
}
.about-content svg{
    width: 237px;
    height: 240px;
    position: absolute;
    
}
.about-sec .about-content{
    max-width: 760px;
    width: 40%;
    padding: 70px 50px 0 60px;
}
.about-content img{
    margin-top: 70px;
}
.box-content h3{
    color: #3259AE;
    font-size: 100px;
    line-height: 72px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
    font-family: var(--headingFont);
}
.box-content p b{
    font-weight: 600;
}
.box-content p{
    color: #484848;
    font-size: 24px;
    font-style: normal;
    line-height: 1.6;
}
.about-sec .history-box{
    padding: 70px;
    max-width: 1050px;
    margin-left: auto;
    background-color: ghostwhite !important;
}
.about-sec .history-box p:last-child {
    margin-bottom: 0;
}
.box-content{
    padding-left: 24px;
    position: relative;
}
.about-sec{
    margin-top: -700px;
    padding-top: 200px;
    z-index: 9;
    position: relative;
    overflow: hidden;
}
.history-box{
    height: fit-content;
    position: relative;
}
.banner-content-main{
    padding-left: 100px;
}
.what-we-do{
    padding: 230px 0 100px;
}
.sec-tagline {
    color: #3259AE;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: var(--bodyFont);
}
.strategic-content{
    padding-top: 60px;
}
.strategic-content p{
    color: #333;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-bottom: 40px;
}
.read-more{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 176.6%;
    letter-spacing: 0.48px;
    text-decoration: none;
    transition: all 0.2s;
    display: inline-block;
    margin-top: 20px;
}
.read-more:hover svg{
    margin-left: 10px;
}
.team-slider .read-more:hover, .read-more:hover{
    color: #3259AE;
}
.read-more svg{
    transition: all 0.2s;
    margin-left: 14px;
}
.vision-boxes-main{
    padding-top: 100px;
}
.vision-box h3{
    margin-bottom: 26px;
}
.vision-box ul li, .vision-box p{
    color: #333;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.vision-box ul li {
    padding: 0 40px 0 0;
    margin: 0 0 20px;
}
.vision-box ul li strong {
    display: block;
}
.vision-box .two-column-list {
    padding: 0 20px;
}
.two-column-list {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}
.team-slider .js .slider-single > div:nth-child(1n + 2) {
    display: none;
}

.team-slider .js .slider-single.slick-initialized > div:nth-child(1n + 2) {
    display: block;
}
.team-slider img {
    width: 100%;
    height: 540px;
    object-fit: cover;
}
.custom-slide {
    padding: 0;
    /* height: 200px; */
    /* object-fit: cover; */
}

.slider-single h3 {
    color: #3259AE;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 15px 0;
}
.slider-single p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height:30px; 
    margin-bottom: 0;
}
.slider-nav .image__slide {
    margin: 0px 7px;
    width: 33.333%;
    float: left;
}
.team-slider .read-more{
    color: #fff;
    font-size: 20px;
}
.team-slider::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
.team-slider .slider-nav .slick-track, .team-slider .slider-nav .slick-list{
    height: 100%;
}
.team-slider{
    position: relative;
    padding: 60px 0px 0px 60px;
    margin-bottom: 100px;
    overflow: hidden;
}
.slider-nav .slick-list{
    margin-right: -5px;
}
.team-heading{
    color: #F2F3F5;
    margin-bottom: 30px !important;
}
.slider-single{
    padding-bottom: 150px;
}
.team-slider .slick-next:before {
    content: '\f054';
    font-family: fontawesome;
    font-weight: 900;
    font-size: 16px;
    opacity: 1;
    color: #ffffff;
}
.team-slider .slick-prev:before {
    content: '\f053';
    font-family: fontawesome;
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
    opacity: 1;
}
.slick-prev:focus:before, .slick-next:focus:before,
.team-slider .slick-arrow:focus, .team-slider .slick-arrow:hover:before{
    color: #c4c4c4;
    opacity: 1;
}
.team-slider .slick-arrow:focus, .team-slider .slick-arrow:hover{
    background-color: #3259AE;  
    /* background-color: #e3e3e3;    */
    opacity: 1;
}
.team-slider .slick-arrow {
    bottom: 0;
    top: inherit;
    /* background-color: #e3e3e3; */
    background-color: #3259AE;  
    width: 40px;
    opacity: 1;
    height: 40px;
    border-radius: 100%;
}
.team-slider .slick-prev{
    left: inherit;
    right: 47px;
}
.team-slider .slick-next{
    right: 0px;
}
.form-img{
    max-width: fit-content !important;
}
.form-img img{
    height: 100%;
    width: inherit;
    border-radius: 5px;
    object-fit: cover;
}
.form-main{
    max-width: 800px !important;
    padding-left: 44px !important;
}
/* .form-sec::before{
    position: absolute;
    content: '';
    border: 25px solid #3259AE;
    border-radius: 182px;
    bottom: -154px;
    z-index: 0;
    width: 328px;
    height: 95%;
    right: -145px;
} */
.form-sec{
    margin: 100px 0 0;
    background: #ECECEC;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.form-sec .secondary-heading{
    padding-bottom: 20px;
}
.secondary-heading{
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    font-family: var(--headingFont);
    text-transform: uppercase;
}
.form-main label{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
}
.form-main textarea, .form-main input{
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 22px 12px 16px 0 !important;
    line-height: normal;
    border-radius: 0 !important;
    letter-spacing: 0;
    background: transparent !important;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc;
}
#form__status {
    margin: 30px 0 0;
    font-weight: 600;
    font-size: 18px;
}
.form__response.success {
    color: green;
}
.form__response.error {
    color: red;
}
.form-main .theme-btn{
    margin-top: 50px;
}
.theme-btn{
    border-radius: 4px !important;
    background: #3259AE !important;
    color: #FDFDFD !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    line-height: normal !important;
    min-width: 230px;
    height: 64px;
    transition: all 0.2s;
}
#footer{
    position: relative;
    background: #3259AE;
    padding: 40px 0 30px;
}
.get-in-touch{
    border-radius: 30px 0px 0px 0px;
    background: #000;
    box-shadow: -23px 23px 33px 0px rgba(0, 0, 0, 0.18);
    padding: 100px 140px !important;
}
.get-in-touch h3{
    color: #FFF;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.637px;
    margin-bottom: 32px;
}
.get-in-touch h3 span{
    color: #575757;
    font-size: 54.58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}
.get-in-touch h3 span::after{
    position: absolute;
    content: '';
    opacity: 0.25;
    background: #FFF;
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: 0;
}
.footer-inner-col h4{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 224.6%;
    letter-spacing: 0.412px;
    margin-bottom: 0;
}
.footer-inner-col p{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.28px;
    opacity: 0.8;
}
.footer-inner-col ul{
    margin-top: 40px;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}
.footer-inner-col ul li span{
    opacity: 0.4;
    margin-right: 6px;
}
.footer-inner-col ul li:not(:last-child){
    margin-bottom: 13px;
}
.footer-inner-col ul li, .footer-inner-col ul li a{
    color: #FFF;
    font-size: 13px;
    word-break: break-all;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: normal;
    transition: all 0.2s;
    letter-spacing: 1.213px;
}
#footer .address{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto 0;
    max-width: 260px;
}
.logo-column {
    margin-bottom: 15px;
}
.terms-condition span{
    color: #FFF;
    font-weight: 600;
}
.terms-condition{
    color: #779DF2;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 380px;
}
.footer-bottom-mail{
    padding-right: 120px !important;
}
.footer-bottom-mail p a{
    text-decoration: none;
    color: #212121;
    transition: all 0.2s;
}
.footer-bottom-mail p{
    color: #212121;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.terms-menu{
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}
.terms-menu li{
    padding: 0 12px;
    position: relative;
}
.terms-menu li:last-child:before{
    display: none;
}
.terms-menu li::before {
    position: absolute;
    content: '';
    background-color: #779DF2;
    width: 2px;
    height: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.terms-menu li:hover a{
    color: #ffffff;
}
.terms-menu li a {
    color: #779DF2;
    transition: all 0.2s;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    display: block;
}
.contact-btn:hover, .theme-btn:hover{
    background: #3259aee0 !important;
}
.footer-bottom-mail p a:hover, .footer-inner-col ul li a:hover{
    color: #3259AE;
    text-decoration: underline;
}
.slider-nav .slick-current .custom-slide{
    filter: grayscale(0);
}
.slider-nav .custom-slide{
    filter: grayscale(100);
    /* transition: all 0.2s; */
}
.mobile-heading, .mobile-img {
    display: none !important;
}
.more__text {
    display: none;
}
@media only screen and (max-width:1840px){
    .team-slider .container-fluid, .what-we-do .container, .form-sec .container{
        max-width: 95% !important;
    }
    .team-slider{
        padding-left: 0 !important;
    }
}
@media only screen and (max-width:1600px){
    .box-content h3{
        font-size: 70px;
    }
    .about-content h2 {
        padding: 27px 0 27px 50px;
    }
    .about-content svg {
        width: 187px;
        height: 190px;
    }
    .primary-heading {
        font-size: 58px;
        line-height: 68px;
    }
    .sec-tagline {
        font-size: 23px;
        letter-spacing: 2.5px;
        margin-bottom: 10px;
    }
    .get-in-touch{
        padding: 100px 100px 100px 100px !important;
    }
    .about-sec {
        margin-top: -750px;
    }
}
@media only screen and (max-width:1440px){
    .team-slider img {
        height: 640px;
    }
    .banner-heading img {
        max-width: 500px;
    }
    .strategic-content {
        padding-top: 40px;
    }
    .what-we-do {
        padding: 170px 0 60px;
    }
}
@media only screen and (max-width:1380px){
    .banner-content-main {
        padding-left: 50px;
    }
    .banner-heading {
        max-width: 748px;
        font-size: 56px;
        line-height: 66px;
    }
    .vision-box ul li, .vision-box p{
        line-height: 28px;
    }
    .vision-box ul li, .vision-box p, .banner-content, .strategic-content p{
        font-size: 18px;
    }
    .banner{
        padding: 220px 0 720px;
    }
    .box-content p{
        font-size: 20px;
    }
    .about-sec .history-box {
        padding: 60px;
    }
    .about-sec {
        margin-top: -680px;
    }
    .about-sec .about-content{
        padding: 70px 50px 0 40px;
    }
    .form-sec{
        margin-top: 0;
        padding: 100px 0 110px;
    }
    .team-slider img{
        max-height: 550px;
    }
    .slider.slider-nav{
        margin: auto;       
    }
    .team-slider::before{
        height: 100%;
    }
    .slider-single {
        padding-bottom: 60px;
    }
    .team-slider{
        padding-bottom: 50px;
        margin-bottom: 0 !important;
    }
    .footer-bottom-mail {
        padding-right: 30px !important;
    }
    .get-in-touch {
        padding: 60px 30px 60px 60px !important;
    }
}
@media only screen and (max-width: 1080px){
    .about-sec .row{
        flex-direction: column;
    }
    .about-sec .container-fluid{
        max-width: 95%;
    }
    .about-sec .about-content{
        width: 100%;
        display: flex;
        max-width: 100%;
        padding: 0 0 0 0;
        align-items: flex-start;
        justify-content: space-between;
    }
    .about-sec .history-box{
        max-width: 730px;
        margin: 40px auto 110px 0 !important;
        box-shadow: 0 0 27px rgb(0 0 0 / 20%);
    }
    .footer-bottom-mail {
        padding-right: 12px !important;
    }
    .footer-bottom-mail p{
        font-size: 18px;
    }
    .get-in-touch h3 span, .get-in-touch h3{
        font-size: 44px;
    }
    .about-content img {
        margin-top: 0;
        max-width: 400px;
        width: 50% !important;
    }
    .what-we-do{
        padding: 100px 0 70px;
    }
    .about-sec {
        margin-top: -780px;
    }
    .primary-heading {
        font-size: 48px;
        line-height: 58px;
    }
    .strategic-content {
        padding-top: 40px;
    }
    .about-content svg {
        width: 187px;
        height: 170px;
    }
    .slider-single p{
        font-size: 16px;
    }
    .slider-single h3{
        font-size: 26px;
    }
    .secondary-heading {
        font-size: 42px;
    }
    /* .form-sec::before {
        width: 200px;
        right: -120px;
    } */
    .vision-box ul li {
        padding: 0 40px 0 0;
    }
    .banner-heading img {
        max-width: 400px;
    }
    .banner-heading h2{
        font-size: 40px;
        line-height: 58px;
        max-width: 450px;
    }
    .vision-boxes-main {
        padding-top: 50px;
    }
    header li.nav-item:last-child a {
        margin-left: 20px !important;
    }
}
@media only screen and (max-width:992px){
    .slider-nav .slick-list {
        margin-right: 5px;
    }
    .slider.slider-nav{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .slider.slider-nav{
        margin-top: 20px;
    }
    .team-slider .slick-prev {
        left: inherit;
        right: 60px;
    }
    .team-slider .slick-next {
        right: 12px;
    }
    .team-slider {
        padding-bottom: 70px;
    }
    .form-sec{
        margin-bottom: 0 !important;
    }
    .get-in-touch {
        padding: 60px 30px 60px 48px !important;
    }
}
@media only screen and (max-width:991px){
    .slider-nav .image__slide {
        transform: translate(100%, 0);
    }
    .team-slider img {
        max-height: 500px;
    }
    .logo {
        width: 120px;
    }
    .sticky_header .logo {
        width: 100px;
    }
    #top-menu.navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }
    .sticky_header #top-menu.navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%2850, 89, 180%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }
    #top-menu.navbar-light .navbar-toggler{
        padding: 0;
        border: none;
        outline: none !important;
        box-shadow: none !important;
    }
    .sticky_header .navbar{
        padding: 10px 30px !important;
    }
    #top-menu {
        padding: 20px 30px;
    }
    ul.navbar-nav{
        padding-bottom: 30px;
        padding-top: 20px;
    }
    header .nav-link {
        padding-left:0px !important;
    }
    .navbar-collapse {
        background: #fff;
    }
    .navbar-collapse .nav-link {
        color: #000000 !important;
    }
    .banner-content-main .banner-heading {
        display: none;
    }
    .about-box .banner-heading {
        display: block !important;
        color: #212529;
        margin-bottom: 10px;
    }
    .about-box .banner-heading .bordered-text {
        -webkit-text-stroke-color: #212529;
    }
    .banner {
        padding: 400px 0 700px;
    }
    .about-sec .history-box {
        max-width: inherit;
    }
    .about-sec .history-box {
        max-width: inherit;
        margin: 40px auto !important;
    }
    .what-we-do {
        padding: 70px 0;
    }
    .strategic-content {
        padding-top: 10px;
    }
}
@media only screen and (max-width:900px){
    .what-we-do .row{
        flex-wrap: wrap;
    }
    .banner-content-main {
        padding-left: 24px;
    }
    .form-sec .row{
        flex-direction: column;
    }
    /* .form-sec::before{
        display: none;
    } */
    .form-img{
        max-width: 100% !important;
    }
    .form-img img{
        max-width: 100% !important;
        margin: auto;
    }
    .form-main {
        max-width: 100% !important;
        margin-top: 40px !important;
        padding-left: 12px !important;
    }
    .form-sec .mobile-heading .secondary-heading, .mobile-heading{
        display: block !important;
    }
    .form-sec {
        padding: 60px 0 70px;
    }
    .form-sec .secondary-heading{
        display: none;
        padding-bottom: 30px;
    }
    .theme-btn{
        min-width: 180px;
        height: 54px;
    }
    /* #collapsibleNavbar ul.navbar-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        background-color: #ffffff;
    } */
}
@media only screen and (max-width: 800px){
    .banner-content-main {
        padding-left: 12px;
    }
    .team-slider img {
        max-height: 400px;
    }
}
@media only screen and (max-width:767px) {
    .vision-box{
        margin-bottom: 40px;
    }
    .footer-inner-col ul {
        margin-top: 26px;
        margin-bottom: 30px;
    }
    .footer-inner-col p{
        max-width: 400px;
    }
    .team-slider img {
        max-height: inherit;
        height: 430px;
    }
    .footer-logo {
        width: 200px;
     }
    footer .footer-bottom-mail{
        text-align: left !important;
    }
    .footer-bottom-mail p a, .footer-bottom-mail p{
        color: #ffffff;
        margin-top: 20px !important;
    }
    .strategic-content {
        padding-top: 10px;
    }
    .slider-nav .image__slide {
        transform: initial;
    }
    .read-more {
        margin-top: 0;
    }
    .vision-box .two-column-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .vision-box ul li {
        padding: 0;
    }
}
@media only screen and (max-width: 650px){
    .banner-heading h2 {
        font-size: 33px;
        line-height: 46px;
        max-width: 460px;
    }
    .get-in-touch {
        padding: 40px 30px 20px 30px !important;
    }
    .get-in-touch h3 span, .get-in-touch h3 {
        font-size: 36px;
    }
    .footer-bottom-mail p a, .footer-bottom-mail p{
        font-size: 16px;
    }
    .terms-condition, .terms-menu li a{
        font-size: 14px;
    }
    .about-content img{
        display: none;
    }
    .banner-heading {
        font-size: 42px;
        line-height: 46px;
    }
    .banner {
        padding: 400px 0 600px;
    }
    .primary-heading {
        font-size: 38px;
        line-height: 48px;
    }
    .about-content svg {
        width: 147px;
        height: 144px;
    }
    .about-content h2 {
        padding: 24px 0 24px 40px;
    }
    .about-sec .history-box {
        padding: 30px 20px;
    }
    .what-we-do {
        padding: 30px 0;
    }
    .box-content {
        padding-left: 16px;
    }
    /* .box-content::before{
        top: 1px;
        height: 57px;
    }     */
    .team-slider .read-more, .read-more, .strategic-content p, .box-content p {
        font-size: 18px;
    }
    .strategic-content p{
        margin-bottom: 20px;
    }
    .vision-boxes-main {
        padding-top: 30px;
    }
    .read-more svg {
        margin-left: 6px;
        width: 26px !important;
    }
    .slider-single p{
        margin-bottom: 20px;
    }
    .slider-single h3 {
        font-size: 20px;
    }
    .slider-single h3{
        margin: 0 0 12px 0;
    }
    .secondary-heading {
        font-size: 36px;
    }
    .vision-box h3{
        margin-bottom: 12px;
    }
    .form-main textarea, .form-main input{
        padding: 14px 12px 12px 0 !important;
    }
    .form-main label{
        font-size: 18px;
    }
    .form-main form .form-group:first-child label{
        margin-top: 20px;
    }
    .theme-btn {
        min-width: 160px;
        height: 50px;
    }
    .box-content h3 {
        font-size: 46px;
        line-height: 56px;
        margin-bottom: 10px;
    }
    .sec-tagline{
        font-size: 20px;
    }
    .banner-heading img {
        max-width: 250px;
    }
    .about-sec {
        margin-top: -620px;
    }
    .about-sec .history-box {
        margin: 30px auto !important;
    }
    .vision-box {
        margin-bottom: 30px;
    }
    .vision-box ul li:last-child {
        margin-bottom: 0;
    }
    .vision-box .two-column-list {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 500px){
    .banner {
        padding: 400px 0 500px;
    }
}